p{
    color:white;
    background: red;
    /* font-size: 100px; */
    font-style: italic;
}
#box{
    /* for the id="box" */
    width: 100px;
    height: 100px;
    background: green;
}
.box{
    /* for the class="box" */
    width: 100px;
    height: 100px;
    background: green;
    margin: 10px;
    padding: 10px;
    border: 2px solid red;
    /* float: left; */
    /* position: absolute;
    top:0px;
    left: 0px; */
}